<!doctype html>
  <html>
    <head>
      <meta charset="utf-8"/>
    </head>
    <body>
      <main id="root" m-mask>
        <h1> {{title}}</h1>
      </main>
      <script src="main.js"></script>
    </body>
  </html>
  